.countries{
    
    
    .countries-list{
        display: flex;
        flex-wrap: wrap;
    }
    .sort-container{
        display:flex;
        flex-wrap: wrap;
        height: 10%;
        border-radius: 10px;
        background: rgb(90, 83, 83);
        box-shadow: 0px 3px 3x 0px gray ;
        margin-left: 10px;
        margin-right: 10px;
        align-items: center;
        justify-content: center;
        
    }
    .sort-container > input{
        display:flex;
        flex-wrap: wrap;
    }
    .input-list{
        display:flex;
        flex-wrap: wrap;
       
    }
    li{
        list-style: none;
        margin-right: 55px;
        margin-left: 55px;
    }
   
    
}